---
page_title: Our Team
---
{% layout 'theme' %}

<div>
  <a href='{{ locale.root_url }}'>
    <img
      src='{{ home.url }}/assets/images/Q&Aslide.png'
      alt='{{ 'Contact Us' | t }}'
      class='w-100 object-fit-contain d-none d-md-block'
    >
    <img
      src='{{ home.url }}/assets/images/Q&Aslide-mobile.png'
      alt='{{ 'Contact Us' | t }}'
      class='w-100 object-fit-contain d-block d-md-none'
    >
  </a>
</div>

{% include 'breadcrumb' %}

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<!-- Swiper -->
<div class='container py-3'>
  <h2 class='text-2xl fw-semibold text-center mb-5 mt-4'>{{ "Operations Team" | t }}</h2>

  <div class='swiper elg-swiper__our-team'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide'>
        <div class='card h-100 w-100 elg-swiper__our-team-card'>
          <div class='py-5 px-4 text-center'>
            <img
              src='https://bootdey.com/img/Content/avatar/avatar7.png'
              alt='Avatar'
              width='100'
              class='img-fluid rounded-circle mb-3 img-thumbnail shadow-sm mx-auto'
            >
            <h5 class='mb-0'>Bùi Hoàng Việt Anh</h5>
            <span class='small text-uppercase text-muted'>CEO - Founder</span>
            <ul class='social mb-0 list-inline mt-3'>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-facebook-f'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-twitter'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-instagram'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-linkedin'></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='card h-100 w-100 elg-swiper__our-team-card'>
          <div class='py-5 px-4 text-center'>
            <img
              src='https://bootdey.com/img/Content/avatar/avatar7.png'
              alt='Avatar'
              width='100'
              class='img-fluid rounded-circle mb-3 img-thumbnail shadow-sm mx-auto'
            >
            <h5 class='mb-0'>Trần Thị Thanh Hằng</h5>
            <span class='small text-uppercase text-muted'>HR Manager</span>
            <ul class='social mb-0 list-inline mt-3'>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-facebook-f'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-twitter'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-instagram'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-linkedin'></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='card h-100 w-100 elg-swiper__our-team-card'>
          <div class='py-5 px-4 text-center'>
            <img
              src='https://bootdey.com/img/Content/avatar/avatar7.png'
              alt='Avatar'
              width='100'
              class='img-fluid rounded-circle mb-3 img-thumbnail shadow-sm mx-auto'
            >
            <h5 class='mb-0'>Phùng Quang Tuấn</h5>
            <span class='small text-uppercase text-muted'>CS Manager</span>
            <ul class='social mb-0 list-inline mt-3'>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-facebook-f'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-twitter'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-instagram'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-linkedin'></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='swiper-slide'>
        <div class='card h-100 w-100 elg-swiper__our-team-card'>
          <div class='py-5 px-4 text-center'>
            <img
              src='https://bootdey.com/img/Content/avatar/avatar7.png'
              alt='Avatar'
              width='100'
              class='img-fluid rounded-circle mb-3 img-thumbnail shadow-sm mx-auto'
            >
            <h5 class='mb-0'>Lê Tiến Đạt</h5>
            <span class='small text-uppercase text-muted'>OP Manager</span>
            <ul class='social mb-0 list-inline mt-3'>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-facebook-f'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-twitter'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-instagram'></i></a>
              </li>
              <li class='list-inline-item'>
                <a href='#' class='social-link'><i class='fa fa-linkedin'></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='elg-swiper__our-team-button-next swiper-button-next'>
      <button class='btn btn-circle'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          style='width: 16px; height: 16px'
        >
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
    </div>
    <div class='elg-swiper__our-team-button-prev swiper-button-prev'>
      <button class='btn btn-circle'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
          style='width: 16px; height: 16px'
        >
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
    </div>
    <div class='elg-swiper__our-team-pagination swiper-pagination'></div>
  </div>
</div>
