<div class='swiper elg-banner'>
  <div class='swiper-wrapper'>
    <div class='swiper-slide'>
      <div class='elg-banner__slide'>
        <div class='elg-banner__slide-bg'>
          <img
            alt='{{ 'Website design' | t }}'
            decoding='async'
            data-nimg='fill'
            class='d-none d-md-block'
            sizes='1200'
            src='/assets/images/banner.jpeg'
            style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
          >

            <img
              alt='{{ 'Website design' | t }}'
              decoding='async'
              data-nimg='fill'
              class='d-block d-md-none'
              sizes='1200'
              src='https://cake.vn/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fcake-prd-website%2Fhomepage%2F390x615_2_edb7658175%2F390x615_2_edb7658175.webp&w=828&q=100'
              style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
            >
        </div>
        <div class='container elg-banner__slide-content'>
          <div>
            <h1 class='elg-banner__slide-title'>{{ 'Website design' | t }}</h1>
            <p class='elg-banner__slide-description'>
              {{
                'Our template designs are meticulously crafted, covering the most in-demand industries today with a modern, trend-leading style. They are SEO-friendly, easy to manage, and fully responsive across all devices.'
                | t
              }}
            </p>
            <a
              class='button-in-banner'
              href='#'
              >{{ "Learn more" | t }}</a
            >
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class='swiper-slide'>
      <div class='elg-banner__slide'>
        <div class='elg-banner__slide-bg'>
          <img
            alt='Thiết kế website'
            decoding='async'
            data-nimg='fill'
            class='d-none d-md-block'
            sizes='1200'
            src='/assets/images/banner.jpeg'
            style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
          >

            <img
              alt='Thiết kế website'
              decoding='async'
              data-nimg='fill'
              class='d-block d-md-none'
              sizes='1200'
              src='https://cake.vn/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fcake-prd-website%2Fhomepage%2F390x615_2_edb7658175%2F390x615_2_edb7658175.webp&w=828&q=100'
              style='position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;'
            >
        </div>
        <div class='container elg-banner__slide-content'>
          <div>
            <h1 class='elg-banner__slide-title'>{{ 'Marketing & advertising strategy' | t }}</h1>
            <p class='elg-banner__slide-description'>
              {{
                'Market and competitor research, development of a comprehensive marketing strategy aligned with specific goals, and proposing a communication budget tailored to each stage of business growth.'
                | t
              }}
            </p>
            <a
              class='button-in-banner'
              href='#'
              >{{ "Learn more" | t }}</a
            >
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class='btn btn-circle swiper-button-prev d-none d-lg-flex'>
    <img
      alt='Prev'
      width='24'
      height='24'
      src='https://cake.vn/_next/static/media/arrow-narrow-left.7f312689.svg'
    >
  </div>
  <div class='btn btn-circle swiper-button-next d-none d-lg-flex'>
    <img
      alt='Next'
      width='24'
      height='24'
      src='https://cake.vn/_next/static/media/arrow-narrow-right.557d2922.svg'
    >
  </div>
  <div class='swiper-pagination'></div>
</div>
