<header class='elg_header bg-white w-100'>
  <div class='container'>
    <button
      class='elg_header__btn-mennu btn btn-circle flip-x d-md-none'
      data-bs-toggle='offcanvas'
      data-bs-target='#offcanvasMobileMenu'
      aria-controls='offcanvasMobileMenu'
    >
      <img alt='menu' width='24' height='24' style='color:transparent' src='{{ home.url }}/assets/images/svg/menu.svg'>
    </button>
    <div class='elg_header__logo'>
      <a href='{{ locale.root_url }}'>
        <img
          alt='logo'
          width='140'
          height='42'
          src='{{ home.url }}/assets/images/png/gamlua.png'
        >
      </a>
    </div>
    <nav class='elg_header__nav d-none d-md-block'>
      <ul class='menu-main-menu'>
        <li class='menu-item'>
          <input type='checkbox' id='menu-52' class='d-none'>
          <span class='menu-toggle d-flex align-items-center justify-content-between gap-2'>
            <label for='menu-52' class='cursor-pointer'>{{ 'Services' | t }}</label>
            <label for='menu-52' class='menu-arrow cursor-pointer'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                style='width: 16px; height: 16px'
              >
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </label>
          </span>
          <ul class='sub-menu'>
            <li class='menu-item'>
              <a href='#'>{{ 'Website design' | t }}</a>
            </li>
          </ul>
        </li>

        <li class='menu-item'>
          <span>
            <a href='{{ locale.root_url }}/blog'>{{ 'News & Articles' | t }}</a>
          </span>
        </li>
        <li class='menu-item'>
          <span>
            <a href='{{ locale.root_url }}/about-us'>{{ 'About Us' | t }}</a>
          </span>
        </li>
        <li class='menu-item'>
          <span>
            <a href='{{ locale.root_url }}/contact-us'>{{ 'Contact Us' | t }}</a>
          </span>
        </li>
      </ul>
    </nav>
    <div class='elg_header__right'>
      <button
        class='btn btn-circle'
        data-bs-toggle='offcanvas'
        data-bs-target='#offcanvasSearch'
        aria-controls='offcanvasSearch'
      >
        <img
          alt='search'
          loading='lazy'
          width='24'
          height='24'
          decoding='async'
          data-nimg='1'
          class='flex items-center justify-center'
          style='color:transparent'
          src='{{ home.url }}/assets/images/svg/search.svg'
        >
      </button>

      {% if all_locales.size gt 1 %}
        <div class='dropdown'>
          <button
            class='btn btn-circle btn-w-auto d-flex align-items-center gap-1'
            type='button'
            id='dropdownMenuButton1'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            <span class='d-flex align-items-center gap-1 text-start text-uppercase'>
              <img
                alt='language'
                width='24'
                height='24'
                src='{{ home.url }}/assets/images/svg/flag-{{ locale.iso_code }}.svg'
              >
              <p style='min-width: 20px;padding: 0 0 0 2px;'>{{ locale.iso_code }}</p>
            </span>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              aria-hidden='true'
            >
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>
          <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
            {% for locale in all_locales %}
              <li>
                <a
                  href='{{ locale.root_url }}'
                  data-lang='{{ locale.iso_code }}'
                  class='dropdown-item d-flex align-items-center gap-1'
                >
                  <img
                    alt='language'
                    width='24'
                    height='24'
                    src='{{ home.url }}/assets/images/svg/flag-{{ locale.iso_code }}.svg'
                  >
                  <p style='min-width: 20px;padding: 0 0 0 2px;'>{{ locale.name }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</header>

<div
  class='offcanvas offcanvas-top h-max-content p-0'
  tabindex='-1'
  id='offcanvasMobileMenu'
  aria-labelledby='offcanvasMobileMenuLabel'
>
  <div class='offcanvas-header p-4 d-flex justify-content-between align-items-center'>
    <a href='/'>
      <img alt='logo' width='140' height='42' src='{{ home.url }}/assets/images/png/gamlua.png'>
    </a>
    <button type='button' class='btn btn-circle text-reset' data-bs-dismiss='offcanvas' aria-label='Close'>
      <img alt='logo' width='14' height='14' src='{{ home.url }}/assets/images/svg/x-close.svg'>
    </button>
  </div>
  <div class='offcanvas-body p-4'>
    <nav class='elg-nav__mobile'>
      <ul class='menu-main-menu'>
        <li class='menu-item'>
          <input type='checkbox' id='menu-52' class='d-none'>
          <span class='menu-toggle d-flex align-items-center justify-content-between gap-2'>
            <label for='menu-52' class='cursor-pointer'>{{ 'Services' | t }}</label>
            <label for='menu-52' class='menu-arrow cursor-pointer'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                style='width: 16px; height: 16px'
              >
                <path d="m6 9 6 6 6-6"></path>
              </svg>
            </label>
          </span>
          <ul class='sub-menu'>
            <li class='menu-item'>
              <a href='#'>{{ 'Website design' | t }}</a>
            </li>
          </ul>
        </li>

        <li class='menu-item'>
          <span class='menu-toggle d-flex align-items-center justify-content-between gap-2'>
            <a href='{{ locale.root_url }}/blog'>{{ 'News & Articles' | t }}</a>
          </span>
        </li>
        <li class='menu-item'>
          <span class='menu-toggle d-flex align-items-center justify-content-between gap-2'>
            <a href='{{ locale.root_url }}/about-us'>{{ 'About Us' | t }}</a>
          </span>
        </li>
        <li class='menu-item'>
          <span class='menu-toggle d-flex align-items-center justify-content-between gap-2'>
            <a href='{{ locale.root_url }}/contact-us'>{{ 'Contact Us' | t }}</a>
          </span>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div
  class='elg-offcanvas__search offcanvas offcanvas-top h-max-content p-0'
  tabindex='-1'
  id='offcanvasSearch'
  aria-labelledby='offcanvasSearchLabel'
>
  <div class='offcanvas-header p-4 d-flex justify-content-between align-items-center'>
    <a href='/'>
      <img alt='logo' width='140' height='42' src='{{ home.url }}/assets/images/png/gamlua.png'>
    </a>
    <button type='button' class='btn btn-circle text-reset' data-bs-dismiss='offcanvas' aria-label='Close'>
      <img alt='logo' width='14' height='14' src='{{ home.url }}/assets/images/svg/x-close.svg'>
    </button>
  </div>
  <div class='offcanvas-body p-4'>
    <form action='./blog' class='d-flex justify-content-center'>
      <div class='elg-offcanvas__search-input'>
        <img alt='search' width='24' height='24' src='{{ home.url }}/assets/images/svg/search.svg'>
        <input name='q' placeholder='{{ "Enter keyword..." | t }}' class='bg-transparent' value=''>
        <div class='elg-offcanvas__search-input-eraser cursor-pointer d-none'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
            stroke='currentColor'
            stroke-width='2'
            stroke-linecap='round'
            stroke-linejoin='round'
          >
            <path d="M18 6 6 18"></path><path d="m6 6 12 12"></path>
          </svg>
        </div>
      </div>
    </form>
  </div>
</div>
